<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- ======= Footer ======= -->
    <footer th:fragment="footer" id="footer" class="footer">
        <div class="copyright">
            &copy; 2025 <strong><span>Leandro Nazareth</span></strong>.
            Licenciado sob a <a href="https://opensource.org/licenses/MIT" target="_blank">Licença MIT</a>.
        </div>
        <div class="credits">
            Código-fonte disponível em 
            <a href="https://github.com/leandrosnazareth" target="_blank">GitHub</a>. 
            Desenvolvido por <a href="#">Leandro Nazareth</a>.
        </div>
    </footer><!-- End Footer -->
</body>

</html>
